body{ 
  background: url(../afbeeldingen/achtergrond.jpg) /*achtergrond van de website*/
}

body{
  background-repeat: no-repeat; /*plaatje is maar 1 keer op de hele pagina ipv herhaling*/
  background-size:cover; /*de hele achtergrond wordt bedekt door het plaatje*/
}

  ul { /*dit is de opmaak voor het menu*/
    list-style-type:none ; /*bolletjes weg*/
    margin:0%;/*ruimte om de rand van het menu heen*/
    padding: 0; /*ruimte tussen het begin van de balk en het eerste stukje tekst*/ 
    overflow:hidden; /*verwijnt uit het scherm wanneer menu teveel opties heeft*/
    background-color: white;
  }
  
  li {
    float: left; /*het menu is linksboven in de hoek*/ 
  }
  
  li a {
    display: block; /*Blokje in menu waar tekst in wordt weergegeven*/
    color: rgb(51, 211, 184);
    text-align: center; /*plek van tekst in het vierkante in het menu*/
    padding: 18px 16px; /*de grootte van het blokje met de tekst erin*/
    text-decoration:none; 
  }
  
  li a:hover {
    background-color: whitesmoke; /*achtergrond kleur wanneer je muis erover heen gaat*/
  }

  h1{
    border-style:ridge; /*de randen om de tekst heen*/
    color: white;
    text-align: center; /*tekst in het midden*/
  }

  h2{
    border-style: double; /*de randen om de tekst heen*/
    color: white;
    text-align: center; /*tekst in het midden*/
  }

  p { /*dit is de opmaakt voor alle informatie op de site*/
    color: white;
    text-align: center;
    width: 70%; /*de breedte van de tekst op de website*/
    margin:auto; /*tekst wordt gecentreerd in het midden*/
  }

  head{
    color: white;
  }

  .footer { /*opmaak van de footer*/
    background-color:white;
    color: rgb(51, 211, 184)  ;
    margin: 1%;
    padding: 1%;
    text-align: center;
    font-size: 20px 
 }

  img {
  position: relative;
  left: 30%;
 }