body{ 
  background: url(../afbeeldingen/achtergrond.jpg)
}
body{
  background-repeat: no-repeat;
  background-size:cover;
}

  ul {
    list-style-type:none ; /*bolletjes weg*/
    margin:0%;/*ruimte om de rand van het menu heen*/
    padding: 0; /*ruimte tussen het begin van de balk en het eerste stukje tekst*/ 
    overflow:hidden; /*verwijnt uit het scherm wanneer menu teveel opties heeft*/
    background-color: white;
  }
  
  li {
    float: left; /*het menu is linksboven in de hoek*/ 
  }
  
  li a {
    display: block; /*Blokje in menu waar tekst in wordt weergegeven*/
    color: rgb(51, 211, 184);
    text-align: center; /*plek van tekst in het vierkante in het menu*/
    padding: 18px 16px; /*de grootte van het blokje met de tekst erin*/
    text-decoration:none; 
  }
  
  li a:hover {
    background-color: whitesmoke; /*achtergrond kleur wanneer je muis erover heen gaat*/
  }

  h1{
    border-style:ridge;
    color: white;
    text-align: center;
  }

  h2{
    border-style: double;
    color: white;
    text-align: center;
  }

  p {
    color: white;
    text-align: center;
    width: 70%;
    margin:auto;
  }
#tekstleft{
  color: white;
  text-align: center;
}

  head{
    color: white;
  }

  .footer {
    background-color:white;
    position: sticky;
    color: rgb(51, 211, 184)  ;
    margin: 1%;
    padding: 1%;
    text-align: center;
    font-size: 20px 
 }

  img {
  position: relative;
  left: 30%;
 }