body{ 
    background-color: darkorange; 
}

  ul {
    list-style-type:none ; /*bolletjes weg*/
    margin:10%;/*ruimte om de rand van het menu heen*/
    padding: 0; /*ruimte tussen het begin van de balk en het eerste stukje tekst*/ 
    overflow:hidden; 
    background-color: #333;
  }
  
  li {
    float: left; /*het menu is linksboven in de hoek*/ 
  }
  
  li a {
    display: block; /*Blokje in menu waar tekst in wordt weergegeven*/
    color: white;
    text-align: center; /*plek van tekst in het vierkante in het menu*/
    padding: 18px 16px; /*de groote van het blokje met de tekst erin*/
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111; /*achtergrond kleur wanneer je muis erover heen gaat*/
  }