body{ 
  background: url(plaatje\ 3.jpg)
}
body{
  background-repeat: no-repeat;
  background-size:cover;
}

  ul {
    list-style-type:none ; /*bolletjes weg*/
    margin:0%;/*ruimte om de rand van het menu heen*/
    padding: 0; /*ruimte tussen het begin van de balk en het eerste stukje tekst*/ 
    overflow:hidden; /*verwijnt uit het scherm wanneer menu teveel opties heeft*/
    background-color: white;
  }
  
  li {
    float: left; /*het menu is linksboven in de hoek*/ 
  }
  
  li a {
    display: block; /*Blokje in menu waar tekst in wordt weergegeven*/
    color: rgb(51, 211, 184);
    text-align: center; /*plek van tekst in het vierkante in het menu*/
    padding: 18px 16px; /*de grootte van het blokje met de tekst erin*/
    text-decoration:none; 
  }
  
  li a:hover {
    background-color: whitesmoke; /*achtergrond kleur wanneer je muis erover heen gaat*/
  }

  p {
    width: 50%;
    color: white;
  }

  head{
    color: white;
  }

  .dropdown {
    float: left;
    overflow: hidden; /* waar staat dropdown in de navigation bar*/
  }
  
  .dropdown .dropbtn {
    font-size: 14px;  
    border: none;
    outline: none;
    color: white;
    background-color: inherit; /*zorgt voor dezelfde achtergrondkleur als de rest van de navbar*/
    font-family: inherit; /*zorgt voor dezelfde letterype als de rest van de nav bar*/
    padding: 16px 16px;
    margin: 0; /*opmaak van dropdown*/
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #5c5b5b; /*welke kleur dorpdown wordt als je met cursor erover heen gaat*/
  }
  
  .dropdown-content { /* hoe het menu van de dropdown eruit ziet*/
    display: none;
    position: absolute;
    background-color: #5f6366; 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /*schaduw*/
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; /* text dropdown menu*/
  }
  
  .dropdown-content a:hover {
    background-color: #5c5b5b; /*kleur achtergrond dropdown menu als je met cursor overheen gaat*/
  }
  
  .dropdown:hover .dropdown-content {
    display: block;